<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/p6difusioncalormalla/src/p6difusioncalormalla/Principal.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p6difusioncalormalla.Principal"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="p6difusioncalormalla"/>
</launchConfiguration>
